.commonBtn{
    padding: 10px 20px;
    text-align: center;
    background-color: $blue2;
    border: 1px solid $white;
    border-radius: 25px;
    display: block;
    width: fit-content;
    text-decoration: none;
    color: $white;
    font-size: 15px;
    font-weight: 400;
    transition: all 1s ease;
    pointer-events: all;
    &:hover{
        text-decoration: none;
        color: $blue2;
        background-color: $white;
        border: 1px solid $blue2;
    }
}